* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    background-color: #dddddd;
    color: #333333;
}

h1 {
    font-size: 50px;
    margin: 0;
}

p {
    font-style: italic;
}

h2 {
    color: #555;
    border-top: solid 1px #333;
}

ol {
    border-bottom: solid 1px #333;
}

#my-div {
    background-color: #777777;
}

.my-div {
    background-color: #333333;
}

/* descendant selectors */

.my-div em {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

